h1 {
font-size : 36px;
margin-bottom : 10px;
color : #ff0421;
}

h2 {
font-size : 23px;
margin-bottom : 42px;
font-style : italic;
color : #000670;
}
p {
font-size : 23px;
margin-bottom : 32px;
}

div {
max-width : 900px;
margin :0 auto;
}

body {
font-family : 'Verdana',sans-serif;
line-height : 2;
color : #750c6b
margin : 20.1 px
}

img {
width : 300.5px;
border-radius : 45px;
box-shadow : 1px 4px 8px rgba(0,0,0,1);
margin-left : 20px;
}

p::selection {
    color: #561;
    background: #561;}